

main {
    max-width: var(--page-max-width);
    padding: 1rem;
    margin: 3rem auto 5rem auto;
    min-height: 120vh;
}

.navigation-bar {
    font-family: NType82, system-ui;
}

.navigation-bar-inner.floating {
    padding: 0.5em 2em;
}

.navigation-bar h2 {
    font-size: 1.2rem;
    font-weight: 500;
}

.navigation-links {
    display: flex;
}

.navigation-links a {
    padding: 0.8em 1.5em;
    border-radius: var(--border-radius);
    color: inherit;
}

@media (max-width: 700px) {
    .navigation-links {
        display: none;
    }
}


.scroll-to-top {
    position: fixed;
    bottom: 0;
    width: auto;
    width: min(calc(100% - 2rem), var(--page-max-width));
    box-sizing: border-box;
    padding: 1rem;
    transition: transform 0.5s var(--bounce-function);
}

.scroll-to-top.hidden {
    transform: translateY(5rem);
    pointer-events: none;
}

.scroll-to-top > * {
    border-radius: 100vmax;
    width: max-content;
    margin: 0 0 0 auto;
    line-height: 0;
}

.scroll-to-top button {
    border-radius: 100vmax;
    padding: 0.5rem;
}

.scroll-to-top svg {
    fill: var(--primary-foreground);
    width: 2.5rem;
    height: 2.5rem;
}
